{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="blog-page pt-lg--7 pb-lg--7 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card rounded-xxl p-lg--5 border-0 bg-no-repeat" style="background-color: #e4f7fe;">
                    <div class="card-body w-100 p-4">
                        <div class="form-group mt-3 p-3 border-light border p-2 bg-white rounded-lg">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group icon-input mb-0">
                                        <i class="ti-search font-xs text-grey-400"></i>
                                        <input type="text" class="style1-input border-0 pl-5 font-xsss mb-0 text-grey-500 fw-500 bg-transparent" placeholder="Search online courses.." />
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group icon-input mb-0">
                                        <i class="ti-package font-xs text-grey-400"></i>
                                        <select class="style1-select bg-transparent border-0 pl-5">
                                            <option value="">All Categories</option>
                                            <option value="151781441596 ">Fashion</option>
                                            <option value="139119624252 ">- Men</option>
                                            <option value="139118313532 ">- Women</option>
                                            <option value="139360141372 ">Electronics</option>
                                            <option value="152401903676 ">Home &amp; Garden</option>
                                            <option value="138866720828 ">- Decor</option>
                                            <option value="138866917436 ">- Lighting</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <a href="default-search.html" class="w-100 d-block btn bg-current text-white font-xssss fw-600 ls-3 style1-input p-0 border-0 text-uppercase">Search</a>
                                </div>
                            </div>
                        </div>
                        <h4 class="text-grey-500 font-xssss fw-500 ml-1 lh-24"><b class="text-grey-800 text-dark">Popular Search :</b> Designer, Developer, PHP, HTML, CSS, SCSS</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pt-2 mb-4">
                <h2 class="fw-400 font-lg">
                    Search <b>Results</b> <span class="fw-500 ml-2 text-grey-500 font-xssss">( 23 course is found )</span> <a href="#" class="float-right"><i class="feather-edit text-grey-500 font-xs"></i></a>
                </h2>
            </div>

            <div class="col-xl-4 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="images/v-1.png" alt="image" class="w-100" /></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-warning d-inline-block text-warning mr-1">Python</span>
                        <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 240</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">32 Lesson</h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li>
                                <a href="#"><img src="images/user-6.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-7.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-8.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-3.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="pl-4 w-auto"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="images/v-2.png" alt="image" class="w-100" /></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 40</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">24 Lesson</h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li>
                                <a href="#"><img src="images/user-6.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-7.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-8.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-3.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="pl-4 w-auto"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="images/v-3.png" alt="image" class="w-100" /></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mr-1">Bootstrap</span>
                        <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 60</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Java Programming Masterclass for Developers</a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">14 Lesson</h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li>
                                <a href="#"><img src="images/user-6.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-7.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-8.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-3.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="pl-4 w-auto"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="images/v-5.jpg" alt="image" class="w-100" /></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Develop</span>
                        <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 370</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">The Data Science Course Complete Data Science </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">23 Lesson</h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li>
                                <a href="#"><img src="images/user-6.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-7.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-8.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-3.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="pl-4 w-auto"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="images/v-6.jpg" alt="image" class="w-100" /></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                        <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 450</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Complete Python Bootcamp From Zero to Hero in Python </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">24 Lesson</h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li>
                                <a href="#"><img src="images/user-6.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-7.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-8.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-3.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="pl-4 w-auto"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="images/v-4.jpg" alt="image" class="w-100" /></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-warning d-inline-block text-warning mr-1">Python</span>
                        <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 670</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Fundamentals for Scrum Master and Agile Projects </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">32 Lesson</h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li>
                                <a href="#"><img src="images/user-6.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-7.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-8.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-3.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="pl-4 w-auto"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="images/v-7.jpg" alt="image" class="w-100" /></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-primary d-inline-block text-primary mr-1">Bootstrap</span>
                        <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 760</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">Automate the Boring Stuff with Python Programming</a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">14 Lesson</h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li>
                                <a href="#"><img src="images/user-6.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-7.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-8.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-3.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="pl-4 w-auto"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                    <div class="card-image w-100 mb-3">
                        <a href="default-course-details.html" class="video-bttn position-relative d-block"><img src="images/v-8.jpg" alt="image" class="w-100" /></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Develop</span>
                        <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 370</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="default-course-details.html" class="text-dark text-grey-900">The Data Science Course Complete Data Science </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">23 Lesson</h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li>
                                <a href="#"><img src="images/user-6.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-7.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-8.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/user-3.png" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="pl-4 w-auto"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <ul class="pagination justify-content-center d-flex pt-5">
                    <li class="page-item m-1">
                        <a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#" tabindex="-1" aria-disabled="true"><i class="ti-angle-left"></i></a>
                    </li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-white text-grey-900 border-0" href="#">1</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-primary text-white border-0" href="#">2</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-white text-grey-900 border-0" href="#">3</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-white text-grey-900 border-0" href="#">4</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-white text-grey-900 border-0" href="#">5</a></li>
                    <li class="page-item m-1">
                        <a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#"><i class="ti-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
