{% extends 'base/base_login.html' %}
{% load static %}
{% load static i18n %}
{% block content %}
    <body style="background-image: url('/static/images/login-bg5.png');background-size: cover;background-attachment: fixed">
<div class="banner-wrapper">
    <div class="container">
    <form action="" class="login-form" method="post">
        <img src="/static/images/login-icon.png" width="200px" height="150px"/>
     {%csrf_token%}
        <div class="input-box">
            <i class="font-sm ti-email text-grey-500 pr-0"></i>
            <input type="text" class="style2-input pl-5 form-control text-grey-900 font-xsss fw-600" placeholder="Your Email Address" name="email"/>

        </div>
        <div class="input-box">
            <input type="Password" class="style2-input pl-5 form-control text-grey-900 font-xss ls-3" placeholder="Password"name="password" />
            <i class="font-sm ti-lock text-grey-500 pr-0"></i>
        </div>

        <div class="remember-forgot-box">
             <input type="checkbox" class="form-check-input mt-2" id="exampleCheck1" />
                                <label class="form-check-label font-xsss text-grey-500" for="exampleCheck1"  style=" font-family:'Lucida Handwriting'">Remember me</label>
                                <a href="#" class="fw-600 font-xsss text-grey-700 mt-1 float-right"  style=" font-family:'Lucida Handwriting'">Forgot your Password?</a>
        </div>

 <div class="col-sm-12 p-0 text-left">
                            <div class="form-group mb-1"><input type="submit" class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0" value="Login"  style=" font-family:'Lucida Handwriting'"></div>

        <p class="register">

           <h6  style=" font-family:'Lucida Handwriting';color:black">Don't have account? <a href="{% url 'customauth:register' %}" class="fw-700 ml-1"  style=" font-family:'Lucida Handwriting'">Register</a></h6>

        </p>
 </div>
    </form>
   <link rel="stylesheet" href="{% static 'css/style-login.css' %}" />
       </div>
</div>
</body>



{% endblock content %}
