asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==4.2.8
django-cuser==2017.3.16
django-rosetta==0.10.0
django-tinymce==3.4.0
djangorestframework==3.14.0
idna==3.6
modeltranslation==0.25
pillow==10.2.0
polib==1.2.0
psycopg2-binary==2.9.9
pytz==2024.1
requests==2.31.0
sqlparse==0.4.4
urllib3==2.2.1
