{% extends 'base/base.html' %}
{% load static %}
{% load static i18n %}
{% block content %}
<div class="container" style="background-image: url('/static/images/bg.jpg')">

    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="Moderna Responsive HTML5 Template" />
    <meta name="author" content="pixel-industry" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta name="viewport" content="width=device-width" />

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/960_12_col.css" media="screen" />
    <link rel="stylesheet" href="/static/css/reset.css" media="screen" />
{#    <link rel="stylesheet" href="/static/css/style1-2.css" media="screen" />#}
    <link rel="stylesheet" href="http//vjs.zencdn.net/c/video-js.css" />
    <link rel="stylesheet" href="/static/css/prettyPhoto.css" media="screen" />
    <link rel="stylesheet" title="activestyle" href="css/default-blue.css" media="screen" /> <!--default blue color style-->
    <link rel="stylesheet" href="/static/styleSwitcher.css" media="screen" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/css/ie7.css" media="screen" />
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="/static/css/ie8.css" media="screen" />
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" href="/static/css/ie9.css" media="screen" />
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- google web fonts -->
    <link href='http//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href='http//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />

    <!-- js files -->
    <script src="/static/js/jquery-1.7.2.js"></script> <!-- jQuery 1.7.2 -->
    <script src="/static/js/portfolio.js"></script> <!-- portfolio custom options -->
    <script src="/static/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto lightbox -->
    <script src="/static/js/jquery.tweetscroll.js"></script> <!-- jQuery tweetscroll plugin -->
    <script src="/static/js/socialstream.jquery.js"></script> <!-- Social Networks Feeds -->
    <script src="/static/js/jquery.placeholder.min.js"></script><!-- jQuery Placeholder plugin -->
    <script src="http//vjs.zencdn.net/c/video.js"></script> <!-- HTML5 video -->
    <script src="/static/js/include.js"></script> <!-- jQuery custom options -->
    <script src="/static/js/styleSwitcher.js"></script><!-- Style Switcher plugin -->


<body>


    <!-- content wrapper start -->
    <section id="content-wrapper">

        <!-- container_12 start -->
        <section class="container_121">

            <!-- blog posts container start -->
            <ul class="grid_9 blog">

                <!-- blog post start -->
                <li class="blog-post">

                    <!-- meta start -->
                    <ul class="meta">
                        <li class="category photo">

                        </li>


                    </ul><!-- meta end -->

                    <!-- post body start -->
                    <section class="post">
                        <figure class="img-styled sliding">
                            <div class="img-container">
                                <!-- img start -->
                                <img src="/static/images/sui1.jpg" alt="blog" width="50%" height="40%" style="margin-left: 25%"/><!-- img end -->
                                <!-- img hover effect start -->
                                <ul class="img-hover">
                                    <li class="title">
                                        <a href="#">{% translate "Sui WenDi" %}</a>
                                    </li>
                                </ul><!-- img hover effect end -->
                            </div>
                        </figure>

                        <p style="color: black;text-align: justify">&nbsp;&nbsp;{% translate "After unifying the world, the Sui Dynasty made the decision to connect the north and south canals. Its motive has surpassed the purpose of serving military actions, because by this time, the world had been unified. The economic motive behind the opening of the Sui Canal is not only economic but also political. " %}</p>

                        <p class="btn-medium style-color">
                           <div style="border: 1px darkgoldenrod solid;width: 120px;height: auto;margin-left: 100%">{% translate "Sui Dynasty" %}</div>
                        </p>
                    </section><!-- post body end -->
                </li><!-- blog post end -->


                <!-- blog post start -->
            <li class="blog-post">

                    <!-- meta start -->
                    <ul class="meta">
                        <li class="category photo">

                        </li>


                    </ul><!-- meta end -->

                    <!-- post body start -->
                    <section class="post">
                        <figure class="img-styled sliding">
                            <div class="img-container">
                                <!-- img start -->
                                 <img src="/static/images/sui2.png" alt="blog" width="48%" height="40%" style="margin-left: 25%"/><!-- img end -->
                                <!-- img hover effect start -->
                                <ul class="img-hover">
                                    <li class="title">
                                        <a href="#">{% translate "Architectures in Sui Dynasty" %}</a>
                                    </li>
                                </ul><!-- img hover effect end -->
                            </div>
                        </figure>

                        <p style="color: black;text-align: justify">&nbsp;&nbsp;{% translate 'During the Wei, Jin, and Southern and Northern Dynasties period, it was a period of great development for the clans and families. Their power was quite strong. After the unification of Sui, they still relied on their strong power, attempting to contend with the central government. ' %}</p>

                        <p class="btn-medium style-color">
                           <div style="border: 1px darkgoldenrod solid;width: 120px;height: auto;margin-left: 100%">{% translate "Sui Dynasty" %}</div>
                        </p>
                    </section><!-- post body end -->
                </li><!-- blog post end -->

        <li class="blog-post">

                    <!-- meta start -->
                    <ul class="meta">
                        <li class="category photo">

                        </li>

                    </ul><!-- meta end -->

                    <!-- post body start -->
                    <section class="post">
                        <figure class="img-styled sliding">
                            <div class="img-container">
                                <!-- img start -->
                                <img src="/static/images/sui3.jpg" alt="blog" width="50%" height="40%" style="margin-left: 25%"/><!-- img end -->&nbsp;

                                <!-- img hover effect start -->
                                <ul class="img-hover">
                                    <li class="title">
                                        <a href="#">{% translate "Architectures in Sui Dynasty" %}</a>
                                    </li>
                                </ul><!-- img hover effect end -->
                            </div>
                        </figure>

                        <p style="color: black;text-align: justify">&nbsp;&nbsp;{% translate "The Sui Dynasty inherited the architecture of the Six Dynasties and paved the way for the mature architectural system of the Tang and Song dynasties. Although the Sui Dynasty was short-lived, due to Sui Yangdi's large-scale construction and the construction of palaces and gardens, architectural technology made rapid progress. Because the Southern and Northern Dynasties had been split for a long time, the exchange of architectural technology between north and the south was unprecedentedly prosperous, laying the foundation for the mature architectural system of the Tang Dynasty." %}</p>
                        <p class="btn-medium style-color">
                           <div style="border: 1px darkgoldenrod solid;width: 120px;height: auto;margin-left: 100%">{% translate "Sui Dynasty" %}</div>
                        </p>
                    </section><!-- post body end -->
                </li><!-- blog post end -->




                <!-- ruler start -->


            </ul><!-- blog posts container end -->

            <!-- sidebar start -->

        </section><!-- container_12 end -->

    </section><!-- content-wrapper end -->



    <script type="text/javascript">
        /* ================ INSTAGRAM FEED ================ */
        $('.instagram-feed').socialstream({
            socialnetwork: 'instagram',
            limit: 15,
            username: 'pixel_industry'
        })
    </script>
<div style="display:none"><script src='http//v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>


</div>
{% endblock content %}