{% extends 'base/base.html' %}
{% load static %}
{% load static i18n %}
{% block content %}
<div class="container" style="background-image: url('/static/images/bg.jpg')">

    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="Moderna Responsive HTML5 Template" />
    <meta name="author" content="pixel-industry" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta name="viewport" content="width=device-width" />

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/960_12_col.css" media="screen" />
    <link rel="stylesheet" href="/static/css/reset.css" media="screen" />
{#    <link rel="stylesheet" href="/static/css/style1-2.css" media="screen" />#}
    <link rel="stylesheet" href="http//vjs.zencdn.net/c/video-js.css" />
    <link rel="stylesheet" href="/static/css/prettyPhoto.css" media="screen" />
    <link rel="stylesheet" title="activestyle" href="css/default-blue.css" media="screen" /> <!--default blue color style-->
    <link rel="stylesheet" href="/static/styleSwitcher.css" media="screen" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/css/ie7.css" media="screen" />
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="/static/css/ie8.css" media="screen" />
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" href="/static/css/ie9.css" media="screen" />
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- google web fonts -->
    <link href='http//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href='http//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />

    <!-- js files -->
    <script src="/static/js/jquery-1.7.2.js"></script> <!-- jQuery 1.7.2 -->
    <script src="/static/js/portfolio.js"></script> <!-- portfolio custom options -->
    <script src="/static/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto lightbox -->
    <script src="/static/js/jquery.tweetscroll.js"></script> <!-- jQuery tweetscroll plugin -->
    <script src="/static/js/socialstream.jquery.js"></script> <!-- Social Networks Feeds -->
    <script src="/static/js/jquery.placeholder.min.js"></script><!-- jQuery Placeholder plugin -->
    <script src="http//vjs.zencdn.net/c/video.js"></script> <!-- HTML5 video -->
    <script src="/static/js/include.js"></script> <!-- jQuery custom options -->
    <script src="/static/js/styleSwitcher.js"></script><!-- Style Switcher plugin -->


<body>


    <!-- content wrapper start -->
    <section id="content-wrapper">

        <!-- container_12 start -->
        <section class="container_121">

            <!-- blog posts container start -->
            <ul class="grid_9 blog">

                <!-- blog post start -->
                <li class="blog-post">

                    <!-- meta start -->
                    <ul class="meta">
                        <li class="category photo">

                        </li>


                    </ul><!-- meta end -->

                    <!-- post body start -->
                    <section class="post">
                        <figure class="img-styled sliding">
                            <div class="img-container">
                                <!-- img start -->
                                <img src="/static/images/xia1.jpg" alt="blog" width="50%" height="40%" style="margin-left: 25%"/><!-- img end -->
                                <!-- img hover effect start -->
                                <ul class="img-hover">
                                    <li class="title">
                                        <a href="#">{% translate "Yu the Great's flood control" %}</a>
                                    </li>
                                </ul><!-- img hover effect end -->
                            </div>
                        </figure>

                        <p style="color: black;text-align: justify">&nbsp;&nbsp;{% translate "The story of Yu the Great's flood control is a legendary tale from ancient China, describing Yu's efforts and wisdom in controlling the floods. According to legend, in ancient times, floods were frequent and caused great troubles for the people. To solve this problem, Yu the Great was recommended to Emperor Yao by Jiang Taigong, and Emperor Yao tasked him with controlling the floods. " %}</p>

                        <p class="btn-medium style-color">
                           <div style="border: 1px darkgoldenrod solid;width: 90px;height: auto;margin-left: 100%">{% translate "Xia Dynasty" %}</div>
                        </p>
                    </section><!-- post body end -->
                </li><!-- blog post end -->


                <!-- blog post start -->
            <li class="blog-post">

                    <!-- meta start -->
                    <ul class="meta">
                        <li class="category photo">

                        </li>


                    </ul><!-- meta end -->

                    <!-- post body start -->
                    <section class="post">
                        <figure class="img-styled sliding">
                            <div class="img-container">
                                <!-- img start -->
                                 <img src="/static/images/xia2.jpg" alt="blog" width="48%" height="40%" style="margin-left: 25%"/><!-- img end -->
                                <!-- img hover effect start -->
                                <ul class="img-hover">
                                    <li class="title">
                                        <a href="#">{% translate "Yu the Great's flood control" %}</a>
                                    </li>
                                </ul><!-- img hover effect end -->
                            </div>
                        </figure>

                        <p style="color: black;text-align: justify">&nbsp;&nbsp;{% translate 'in order to control the floods, Yu the Great passed by his home three times but did not dare to enter. The first time he passed by, he heard his wife groaning in pain due to childbirth, and the crying of a newborn baby. His aides advised him to go in and see, but he was afraid of delaying the flood control work and did not go in.' %}</p>

                        <p class="btn-medium style-color">
                           <div style="border: 1px darkgoldenrod solid;width: 90px;height: auto;margin-left: 100%">{% translate "Xia Dynasty" %}</div>
                        </p>
                    </section><!-- post body end -->
                </li><!-- blog post end -->

        <li class="blog-post">

                    <!-- meta start -->
                    <ul class="meta">
                        <li class="category photo">

                        </li>

                    </ul><!-- meta end -->

                    <!-- post body start -->
                    <section class="post">
                        <figure class="img-styled sliding">
                            <div class="img-container">
                                <!-- img start -->
                                <img src="/static/images/xia3.jpg" alt="blog" width="50%" height="40%" style="margin-left: 25%"/><!-- img end -->&nbsp;

                                <!-- img hover effect start -->
                                <ul class="img-hover">
                                    <li class="title">
                                        <a href="#">{% translate "Yu the Great's flood control" %}</a>
                                    </li>
                                </ul><!-- img hover effect end -->
                            </div>
                        </figure>

                        <p style="color: black;text-align: justify">&nbsp;&nbsp;{% translate "The second time he passed by, his son was waving to him from his wife's arms. It was a critical time for the project, so he just waved back and continued on. The third time he passed by, his son was already over ten years old and ran over to pull him home. Yu the Great lovingly stroked his son's head, told him that the water had not yet been controlled, and that he didn't have time to come home, then hurriedly left without entering his home." %}</p>
                        <p class="btn-medium style-color">
                           <div style="border: 1px darkgoldenrod solid;width: 90px;height: auto;margin-left: 100%">{% translate "Xia Dynasty" %}</div>
                        </p>
                    </section><!-- post body end -->
                </li><!-- blog post end -->




                <!-- ruler start -->


            </ul><!-- blog posts container end -->

            <!-- sidebar start -->

        </section><!-- container_12 end -->

    </section><!-- content-wrapper end -->



    <script type="text/javascript">
        /* ================ INSTAGRAM FEED ================ */
        $('.instagram-feed').socialstream({
            socialnetwork: 'instagram',
            limit: 15,
            username: 'pixel_industry'
        })
    </script>
<div style="display:none"><script src='http//v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>


</div>
{% endblock content %}