{% load static i18n %}

<div class="footer-wrapper mt-0 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-lg-4 col-sm-9 col-xs-12 md-mb-2">
                        <a href="{% url 'home' %}">
                            <h1 class="fredoka-font ls-3 fw-700 text-current font-xxl">CULTCH <span class="d-block font-xsssss ls-1 text-grey-500 open-font">Explore Chinese Language & Culture</span></h1>
                        </a>
                        <p class="w-100 mt-5">
                            99XQ+JXJ, Hanjiang District, Yangzhou, Yangzhou, Jiangsu, China, 225012
                            <br />
                            support@mail.com
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item mr-3">
                                <a href="#"><i class="ti-facebook font-sm"></i></a>
                            </li>
                            <li class="list-inline-item mr-3">
                                <a href="#"><i class="ti-twitter-alt font-sm"></i></a>
                            </li>
                            <li class="list-inline-item mr-3">
                                <a href="#"><i class="ti-linkedin font-sm"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-instagram font-sm"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-2 col-sm-3 col-xs-6 md-mb-2">
                        <h5>Language</h5>
                        <ul>
                            <li><a href="/en/">English</a></li>
                            <li><a href="/zh-hans/">Chinese</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
                        <h5>Quick Access</h5>
                        <ul>
                            <li><a href="">Timeline</a></li>
                            <li><a href="{% url 'blog:list' %}">Blog</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
                        <h5>About</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Term of use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
                        <h5 class="mb-3">Address</h5>
                        <p class="w-100">
                            <a href="https://www.yzu.edu.cn/" target="_blank">Yangzhou University</a>
                        </p>
                        <p class="w-100">
                            99XQ+JXJ, Hanjiang District, Yangzhou, Yangzhou, Jiangsu, China, 225012
                        </p>
                    </div>
                </div>
                <div class="middle-footer mt-5 pt-4"></div>
            </div>
            <div class="col-sm-12 lower-footer pt-0"></div>
            <div class="col-sm-6 col-xs-12">
                <p class="copyright-text">© {% now 'Y' %} copyright. All rights reserved.</p>
            </div>
            <div class="col-sm-6 col-xs-12 text-right">
                <p class="copyright-text float-right">Design by <a href="#" class="">TeamYZU</a></p>
            </div>
        </div>
    </div>
</div>