<div class="header-wrapper pt-3 pb-3 shadow-none">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 navbar pt-0 pb-0">
                <a href="{% url 'home' %}">
                    <h1 class="fredoka-font ls-3 fw-700 text-current font-xxl">CULTCH <span class="d-block font-xsssss ls-1 text-grey-500 open-font">Explore Chinese Language & Culture</span></h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav nav-menu float-none text-center">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog:list' %}">Timeline</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'vt:list' %}">Virtual Tours</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 text-right d-none d-lg-block">
                <a href="{% url 'customauth:login' %}" class="header-btn bg-dark fw-500 text-white font-xssss p-2 lh-32 w100 text-center d-inline-block rounded-xl mt-1">Login</a>
                <a href="{% url 'customauth:register' %}" class="header-btn bg-current fw-500 text-white font-xssss p-2 lh-32 w100 text-center d-inline-block rounded-xl mt-1">Register</a>
            </div>
        </div>
    </div>
</div>