{% load humanize static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<div class="upper-header bg-greylight">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6 d-none d-block-md">
                <ul class="list-inline list-item-style mt-0 float-left pl-1">
                    <li class="list-inline-item pl-0"><a href="#">(+1)866-540-3229</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-6 d-none d-block-md">
                <ul class="list-inline list-item-style mt-0 float-right">
                    <li class="list-inline-item">
                        <a href="#"><i class="ti-user mr-2"></i> My Account</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 d-none d-lg-block">
                <ul class="list-inline list-item-style mt-0 float-left pl-1">
                    <li class="list-inline-item pl-0"><a href="#">BECOME AN AGENT</a></li>
                    <li class="list-inline-item"><a href="#">PRIVACY</a></li>
                    <li class="list-inline-item"><a href="#">CUSTOMER SERVICE </a></li>
                </ul>

                <ul class="list-inline list-item-style mt-0 float-right">
                    <li class="list-inline-item">
                        <div class="form-group">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            <a href="{% url 'set_language' %}?language={{ languages.0.code }}">English</a>
                            <a href="{% url 'set_language' %}?language={{ languages.1.code }}">中国</a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="ti-location-pin mr-2"></i> Store Locator</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="ti-user mr-2"></i> My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>