{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="blog-page pt-lg--7 pb-lg--7 pt-5 pb-5">
    <div class="container">
        <div class="row">
            {% for course in object_list %}
            <div class="col-xl-4 col-xxxl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
                <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                    <div class="card-image w-100 mb-3">
                        <a href="{% url 'vt:details' course.pk %}" class="video-bttn position-relative d-block"><img src="{{ course.photo.url }}" alt="image" class="w-100" /></a>
                    </div>
                    <div class="card-body pt-0">
                        <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-warning d-inline-block text-warning mr-1">Python</span>
                        <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 240</span>
                        <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="{% url 'vt:details' course.pk %}" class="text-dark text-grey-900">{{ course.title }} </a></h4>
                        <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">32 Lesson</h6>
                        <ul class="memberlist mt-3 mb-2 ml-0 d-block">
                            <li>
                                <a href="#"><img src="{% static 'images/user-6.png' %}" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'images/user-7.png' %}" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'images/user-8.png' %}" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'images/user-3.png' %}" alt="user" class="w30 d-inline-block" /></a>
                            </li>
                            <li class="last-member"><a href="#" class="bg-greylight fw-600 text-grey-500 font-xssss ls-3 text-center">+2</a></li>
                            <li class="pl-4 w-auto"><a href="#" class="fw-500 text-grey-500 font-xssss">Student apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-lg-12">
                <ul class="pagination justify-content-center d-flex pt-5">
                    <li class="page-item m-1">
                        <a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#" tabindex="-1" aria-disabled="true"><i class="ti-angle-left"></i></a>
                    </li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-white text-grey-900 border-0" href="#">1</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-primary text-white border-0" href="#">2</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-white text-grey-900 border-0" href="#">3</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-white text-grey-900 border-0" href="#">4</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 font-xssss shadow-xss bg-white text-grey-900 border-0" href="#">5</a></li>
                    <li class="page-item m-1">
                        <a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#"><i class="ti-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
