{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="blog-page pt-lg--7 pb-lg--7 pb-5 pt-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="bg-greyblue side-wrap rounded-lg p-4 mb-4">
                    <div class="form-group mb-1">
                        <label class="fw-700 text-grey-900">Search by Keyword</label>
                    </div>
                    <div class="form-group icon-input mb-0">
                        <input type="text" class="form-control style1-input pl-5 border-size-md border-light font-xsss" placeholder="To search type and hit enter" />
                        <i class="ti-search text-grey-500 font-xs"></i>
                    </div>
                </div>

                <div class="bg-greyblue side-wrap rounded-lg p-4 mb-4">
                    <div class="form-group mb-0">
                        <label class="fw-700 text-grey-900">Categories</label>
                    </div>
                    <ul class="recent-post mt-2 list-style-disc pl-4">
                        <li><a href="#" class="fw-500 lh-24 font-xsss text-grey-500">Education</a></li>
                        <li><a href="#" class="fw-500 lh-24 font-xsss text-grey-500">Information</a></li>
                        <li><a href="#" class="fw-500 lh-24 font-xsss text-grey-500">Job Seeking</a></li>
                        <li><a href="#" class="fw-500 lh-24 font-xsss text-grey-500">Travel</a></li>
                        <li><a href="#" class="fw-500 lh-24 font-xsss text-grey-500">Education</a></li>
                        <li><a href="#" class="fw-500 lh-24 font-xsss text-grey-500">Information</a></li>
                        <li><a href="#" class="fw-500 lh-24 font-xsss text-grey-500">Job Seeking</a></li>
                        <li><a href="#" class="fw-500 lh-24 font-xsss text-grey-500">Travel</a></li>
                    </ul>
                </div>

                <div class="bg-greyblue side-wrap rounded-lg p-4 mb-4">
                    <div class="form-group mb-3">
                        <label class="fw-700 text-grey-900">Recent Posts</label>
                    </div>
                    <div class="card w-100 shadow-none bg-transparent border-0 mb-3">
                        <div class="row">
                            <div class="col-4"><img src="images/blog-7.jpg" alt="blog-image" class="img-fluid rounded-lg" /></div>
                            <div class="col-8 pl-1">
                                <h6 class="font-xssss text-grey-500 fw-600 mt-0">24 May 2020</h6>
                                <h2 class="fw-600 text-grey-800 font-xsss lh-3">You work your way to creative thinking</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card w-100 shadow-none bg-transparent border-0 mb-3">
                        <div class="row">
                            <div class="col-4"><img src="images/blog-1.jpg" alt="blog-image" class="img-fluid rounded-lg" /></div>
                            <div class="col-8 pl-1">
                                <h6 class="font-xssss text-grey-500 fw-600 mt-0">24 May 2020</h6>
                                <h2 class="fw-600 text-grey-800 font-xsss lh-3">If you do it right, it will last ever forever</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card w-100 shadow-none bg-transparent border-0 mb-3">
                        <div class="row">
                            <div class="col-4"><img src="images/blog-2.jpg" alt="blog-image" class="img-fluid rounded-lg" /></div>
                            <div class="col-8 pl-1">
                                <h6 class="font-xssss text-grey-500 fw-600 mt-0">24 May 2020</h6>
                                <h2 class="fw-600 text-grey-800 font-xsss lh-3">It’s no secret that the digital industry is booming</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card w-100 shadow-none bg-transparent border-0 mb-3">
                        <div class="row">
                            <div class="col-4"><img src="images/blog-3.jpg" alt="blog-image" class="img-fluid rounded-lg" /></div>
                            <div class="col-8 pl-1">
                                <h6 class="font-xssss text-grey-500 fw-600 mt-0">24 May 2020</h6>
                                <h2 class="fw-600 text-grey-800 font-xsss lh-3">Ways your mother lied to you about food stuffs</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card w-100 shadow-none bg-transparent border-0 mb-0">
                        <div class="row">
                            <div class="col-4"><img src="images/blog-5.jpg" alt="blog-image" class="img-fluid rounded-lg" /></div>
                            <div class="col-8 pl-1">
                                <h6 class="font-xssss text-grey-500 fw-600 mt-0">24 May 2020</h6>
                                <h2 class="fw-600 text-grey-800 font-xsss lh-3">Good design is obvious and transparent</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#"><img src="images/c-5.jpg" alt="img" class="img-fluid rounded-lg mb-3 mt-3" /></a>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <article class="post-article p-0 border-0 shadow-xss rounded-lg overflow-hidden">
                            <div class="row">
                                <div class="col-6 col-xs-12">
                                    <a href="#"><img src="images/blog-4.jpg" alt="blog-image" class="w-100" /></a>
                                </div>
                                <div class="col-6 col-xs-12 pl-md--0">
                                    <div class="post-content p-4">
                                        <h6 class="font-xsss text-success fw-600 float-left">Lifestyle</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-time mr-2"></i> 24 May 2020</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-user mr-2"></i> Jack Robin</h6>
                                        <div class="clearfix"></div>
                                        <h2 class="post-title mt-2 mb-2 pr-3"><a href="blog-single.html" class="lh-30 font-sm mont-font text-grey-800 fw-700">You work your way to ever creative thinking</a></h2>
                                        <p class="font-xsss fw-400 text-grey-500 lh-26 mt-0 mb-2 pr-3">
                                            Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold. We are digital agency.
                                        </p>
                                        <a href="blog-single.html" class="rounded-xl text-white bg-current w125 p-2 lh-32 font-xsss text-center fw-500 d-inline-block mb-0 mt-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <article class="post-article p-0 border-0 shadow-xss rounded-lg overflow-hidden">
                            <div class="row">
                                <div class="col-6 col-xs-12">
                                    <a href="#"><img src="images/blog-41.jpg" alt="blog-image" class="w-100" /></a>
                                </div>
                                <div class="col-6 col-xs-12 pl-md--0">
                                    <div class="post-content p-4">
                                        <h6 class="font-xsss text-success fw-600 float-left">Lifestyle</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-time mr-2"></i> 24 May 2020</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-user mr-2"></i> Jack Robin</h6>
                                        <div class="clearfix"></div>
                                        <h2 class="post-title mt-2 mb-2 pr-3"><a href="blog-single.html" class="lh-30 font-sm mont-font text-grey-800 fw-700">You work your way to ever creative thinking</a></h2>
                                        <p class="font-xsss fw-400 text-grey-500 lh-26 mt-0 mb-2 pr-3">
                                            Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold. We are digital agency.
                                        </p>
                                        <a href="blog-single.html" class="rounded-xl text-white bg-current w125 p-2 lh-32 font-xsss text-center fw-500 d-inline-block mb-0 mt-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <article class="post-article p-0 border-0 shadow-xss rounded-lg overflow-hidden">
                            <div class="row">
                                <div class="col-6 col-xs-12">
                                    <a href="#"><img src="images/blog-42.jpg" alt="blog-image" class="w-100" /></a>
                                </div>
                                <div class="col-6 col-xs-12 pl-md--0">
                                    <div class="post-content p-4">
                                        <h6 class="font-xsss text-success fw-600 float-left">Lifestyle</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-time mr-2"></i> 24 May 2020</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-user mr-2"></i> Jack Robin</h6>
                                        <div class="clearfix"></div>
                                        <h2 class="post-title mt-2 mb-2 pr-3"><a href="blog-single.html" class="lh-30 font-sm mont-font text-grey-800 fw-700">You work your way to ever creative thinking</a></h2>
                                        <p class="font-xsss fw-400 text-grey-500 lh-26 mt-0 mb-2 pr-3">
                                            Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold. We are digital agency.
                                        </p>
                                        <a href="blog-single.html" class="rounded-xl text-white bg-current w125 p-2 lh-32 font-xsss text-center fw-500 d-inline-block mb-0 mt-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <article class="post-article p-0 border-0 shadow-xss rounded-lg overflow-hidden">
                            <div class="row">
                                <div class="col-6 col-xs-12">
                                    <a href="#"><img src="images/blog-43.jpg" alt="blog-image" class="w-100" /></a>
                                </div>
                                <div class="col-6 col-xs-12 pl-md--0">
                                    <div class="post-content p-4">
                                        <h6 class="font-xsss text-success fw-600 float-left">Lifestyle</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-time mr-2"></i> 24 May 2020</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-user mr-2"></i> Jack Robin</h6>
                                        <div class="clearfix"></div>
                                        <h2 class="post-title mt-2 mb-2 pr-3"><a href="blog-single.html" class="lh-30 font-sm mont-font text-grey-800 fw-700">You work your way to ever creative thinking</a></h2>
                                        <p class="font-xsss fw-400 text-grey-500 lh-26 mt-0 mb-2 pr-3">
                                            Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold. We are digital agency.
                                        </p>
                                        <a href="blog-single.html" class="rounded-xl text-white bg-current w125 p-2 lh-32 font-xsss text-center fw-500 d-inline-block mb-0 mt-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <article class="post-article p-0 border-0 shadow-xss rounded-lg overflow-hidden">
                            <div class="row">
                                <div class="col-6 col-xs-12">
                                    <a href="#"><img src="images/blog-44.jpg" alt="blog-image" class="w-100" /></a>
                                </div>
                                <div class="col-6 col-xs-12 pl-md--0">
                                    <div class="post-content p-4">
                                        <h6 class="font-xsss text-success fw-600 float-left">Lifestyle</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-time mr-2"></i> 24 May 2020</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-user mr-2"></i> Jack Robin</h6>
                                        <div class="clearfix"></div>
                                        <h2 class="post-title mt-2 mb-2 pr-3"><a href="blog-single.html" class="lh-30 font-sm mont-font text-grey-800 fw-700">You work your way to ever creative thinking</a></h2>
                                        <p class="font-xsss fw-400 text-grey-500 lh-26 mt-0 mb-2 pr-3">
                                            Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold. We are digital agency.
                                        </p>
                                        <a href="blog-single.html" class="rounded-xl text-white bg-current w125 p-2 lh-32 font-xsss text-center fw-500 d-inline-block mb-0 mt-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <article class="post-article p-0 border-0 shadow-xss rounded-lg overflow-hidden">
                            <div class="row">
                                <div class="col-6 col-xs-12">
                                    <a href="#"><img src="images/blog-46.jpg" alt="blog-image" class="w-100" /></a>
                                </div>
                                <div class="col-6 col-xs-12 pl-md--0">
                                    <div class="post-content p-4">
                                        <h6 class="font-xsss text-success fw-600 float-left">Lifestyle</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-time mr-2"></i> 24 May 2020</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-user mr-2"></i> Jack Robin</h6>
                                        <div class="clearfix"></div>
                                        <h2 class="post-title mt-2 mb-2 pr-3"><a href="blog-single.html" class="lh-30 font-sm mont-font text-grey-800 fw-700">You work your way to ever creative thinking</a></h2>
                                        <p class="font-xsss fw-400 text-grey-500 lh-26 mt-0 mb-2 pr-3">
                                            Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold. We are digital agency.
                                        </p>
                                        <a href="blog-single.html" class="rounded-xl text-white bg-current w125 p-2 lh-32 font-xsss text-center fw-500 d-inline-block mb-0 mt-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                        <article class="post-article p-0 border-0 shadow-xss rounded-lg overflow-hidden">
                            <div class="row">
                                <div class="col-6 col-xs-12">
                                    <a href="#"><img src="images/blog-47.jpg" alt="blog-image" class="w-100" /></a>
                                </div>
                                <div class="col-6 col-xs-12 pl-md--0">
                                    <div class="post-content p-4">
                                        <h6 class="font-xsss text-success fw-600 float-left">Lifestyle</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-time mr-2"></i> 24 May 2020</h6>
                                        <h6 class="font-xssss text-grey-500 fw-600 ml-3 float-left"><i class="ti-user mr-2"></i> Jack Robin</h6>
                                        <div class="clearfix"></div>
                                        <h2 class="post-title mt-2 mb-2 pr-3"><a href="blog-single.html" class="lh-30 font-sm mont-font text-grey-800 fw-700">You work your way to ever creative thinking</a></h2>
                                        <p class="font-xsss fw-400 text-grey-500 lh-26 mt-0 mb-2 pr-3">
                                            Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold. We are digital agency.
                                        </p>
                                        <a href="blog-single.html" class="rounded-xl text-white bg-current w125 p-2 lh-32 font-xsss text-center fw-500 d-inline-block mb-0 mt-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <ul class="pagination justify-content-center d-flex pt-lg--5 pt-3">
                    <li class="page-item m-1">
                        <a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#" tabindex="-1" aria-disabled="true"><i class="ti-angle-left"></i></a>
                    </li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#">1</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-primary text-white border-0" href="#">2</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#">3</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#">4</a></li>
                    <li class="page-item m-1"><a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#">5</a></li>
                    <li class="page-item m-1">
                        <a class="page-link rounded-lg btn-round-md p-0 fw-600 shadow-xss bg-white text-grey-900 border-0" href="#"><i class="ti-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
