{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="banner-wrapper bg-after-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 order-lg-2">
                    <img src="{% static 'images/bb-45.png' %}" alt="image" class="pt-lg--10 w-100 aos-init" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="500" />
            </div>
            <div class="col-xl-6 col-lg-7 order-lg-1 pt-lg--10 pb-lg--10 xl-p-5">
                <h2 class="display3-size display2-md-size fw-700 aos-init" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500">Find the best perfect Online Course</h2>
                <h4 class="text-grey-500 font-xssss fw-500 ml-1 aos-init lh-24" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">For only course you need to learn Chinese history</h4>
                <div class="form-group mt-lg-5 p-3 border-light border p-2 bg-white rounded-lg aos-init" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group icon-input mb-0">
                                <i class="ti-search font-xs text-grey-400"></i>
                                <input type="text" class="style1-input bg-transparent border-0 pl-5 font-xsss mb-0 text-grey-500 fw-500" placeholder="Search online courses.." />
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group icon-input mb-0">
                                <i class="ti-package font-xs text-grey-400"></i>
                                <select class="style1-select bg-transparent border-0 pl-5">
                                    <option value="">All Categories</option>
                                    <option value="151781441596 ">Chinese History</option>
                                    <option value="139119624252 ">- Pre-historic</option>
                                    <option value="139118313532 ">- Ancient</option>
                                    <option value="139118313532 ">- Imperial</option>
                                    <option value="139360141372 ">Achievement</option>
                                    <option value="139118313532 ">- Mo Di and the School of Names</option>
                                    <option value="139118313532 ">- Four Great Inventions</option>
                                    <option value="139118313532 ">- Scientific and technological stagnation</option>
                                    <option value="152401903676 ">Scholars</option>
                                    <option value="152401903676 ">Allusions and customs</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <a href="#" class="w-100 d-block btn bg-current text-white font-xssss fw-600 ls-3 style1-input p-0 border-0 text-uppercase">Search</a>
                        </div>
                    </div>
                </div>
                <h4 class="text-grey-500 font-xssss fw-500 ml-1 lh-24"><b class="text-grey-800">Popular Search :</b> History of China, Invention, Han dyansty, scholars, arts, poet</h4>
            </div>
        </div>
    </div>
</div>

<div class="brand-wrapper pt-5 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-slider owl-carousel owl-theme overflow-visible dot-none">
                    <div class="owl-items text-center"><img src="{% static 'images/b-1.png' %}" alt="icon" class="w100 ml-auto mr-auto" /></div>
                    <div class="owl-items text-center"><img src="{% static 'images/b-2.png' %}" alt="icon" class="w100 ml-auto mr-auto" /></div>
                    <div class="owl-items text-center"><img src="{% static 'images/b-3.png' %}" alt="icon" class="w100 ml-auto mr-auto" /></div>
                    <div class="owl-items text-center"><img src="{% static 'images/b-4.png' %}" alt="icon" class="w100 ml-auto mr-auto" /></div>
                    <div class="owl-items text-center"><img src="{% static 'images/b-5.png' %}" alt="icon" class="w100 ml-auto mr-auto" /></div>
                    <div class="owl-items text-center"><img src="{% static 'images/b-6.png' %}" alt="icon" class="w100 ml-auto mr-auto" /></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="how-to-work pt-lg--5 pb-lg--7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="page-title style1 col-xl-6 col-lg-8 col-md-10 text-center mb-5">
                <h2 class="text-grey-900 fw-700 display1-size display2-md-size pb-3 mb-0 d-block">How to work</h2>
                <p class="fw-300 font-xsss lh-28 text-grey-500">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol ad minim veniam, quis nostrud exercitation</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card p-4 border-0 text-center d-block arrow-right">
                    <svg class="position-absolute top-0" style="margin-left: -44px; opacity: 0.2;" xmlns="http://www.w3.org/2000/svg" width="125.062" height="88.62" viewBox="0 0 125.062 88.62">
                        <path
                            style="fill: #ffb09f !important;"
                            d="M488.806,2544.02s35.988-16.17,53.518-7.45S565,2541.44,574,2549s18.09,19.21,14.009,41.12c-3.62,19.44-25.466,15.87-37.2,27.79-10.557,10.72-68.616,1.88-74.4-12.88-6.841-17.45-13.114-17.84-12.406-34.03C464.452,2560.66,475.315,2554.71,488.806,2544.02Z"
                            transform="translate(-463.938 -2534)"
                        ></path>
                    </svg>
                    <i class="feather-layers display1-size position-relative z-index text-warning"></i>
                    <h2 class="font-md fw-700 text-grey-900 mt-5 mb-3">Blazing Performance</h2>
                    <p class="fw-500 font-xsss lh-28 text-grey-500">Praesent porttitor nunc vitae lacus vehicula, nec mollis eros congue.</p>
                </div>
            </div>
            <div class="col-lg-4 arrow-right">
                <div class="card p-4 border-0 text-center d-block">
                    <svg class="position-absolute top-0" style="margin-left: -44px; opacity: 0.2;" xmlns="http://www.w3.org/2000/svg" width="125.062" height="88.62" viewBox="0 0 125.062 88.62">
                        <path
                            style="fill: #ad78ef !important;"
                            d="M488.806,2544.02s35.988-16.17,53.518-7.45S565,2541.44,574,2549s18.09,19.21,14.009,41.12c-3.62,19.44-25.466,15.87-37.2,27.79-10.557,10.72-68.616,1.88-74.4-12.88-6.841-17.45-13.114-17.84-12.406-34.03C464.452,2560.66,475.315,2554.71,488.806,2544.02Z"
                            transform="translate(-463.938 -2534)"
                        ></path>
                    </svg>
                    <i class="feather-lock display1-size position-relative z-index text-secondary"></i>
                    <h2 class="font-md fw-700 text-grey-900 mt-5 mb-3">Free Updates</h2>
                    <p class="fw-500 font-xsss lh-28 text-grey-500">Praesent porttitor nunc vitae lacus vehicula, nec mollis eros congue.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card p-4 border-0 text-center d-block">
                    <svg class="position-absolute top-0" style="margin-left: -44px; opacity: 0.2;" xmlns="http://www.w3.org/2000/svg" width="125.062" height="88.62" viewBox="0 0 125.062 88.62">
                        <path
                            style="fill: #3ed2a7 !important;"
                            d="M488.806,2544.02s35.988-16.17,53.518-7.45S565,2541.44,574,2549s18.09,19.21,14.009,41.12c-3.62,19.44-25.466,15.87-37.2,27.79-10.557,10.72-68.616,1.88-74.4-12.88-6.841-17.45-13.114-17.84-12.406-34.03C464.452,2560.66,475.315,2554.71,488.806,2544.02Z"
                            transform="translate(-463.938 -2534)"
                        ></path>
                    </svg>
                    <i class="feather-box display1-size position-relative z-index text-success"></i>
                    <h2 class="font-md fw-700 text-grey-900 mt-5 mb-3">24/7 Supports</h2>
                    <p class="fw-500 font-xsss lh-28 text-grey-500">Praesent porttitor nunc vitae lacus vehicula, nec mollis eros congue.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="how-to-work pb-lg--7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="page-title style1 col-xl-6 col-lg-8 col-md-10 text-center mb-5">
                <h2 class="text-grey-900 fw-700 display1-size display2-md-size pb-3 mb-0 d-block">Online Popular Course</h2>
                <p class="fw-300 font-xsss lh-28 text-grey-500">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol ad minim veniam, quis nostrud exercitation</p>
            </div>
        </div>

        <div class="row">
            {% for course in courses %}
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
                    <div class="card course-card w-100 p-0 shadow-xss border-0 rounded-lg overflow-hidden mr-1">
                        <div class="card-image w-100 mb-3">
                            <a href="{% url 'course:details' course.pk %}" class="video-bttn position-relative d-block"><img src="{{ course.photo.url }}" alt="image" class="w-100" /></a>
                        </div>
                        <div class="card-body pt-0">
                            <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-danger d-inline-block text-danger mr-1">Desinger</span>
                            <span class="font-xss fw-700 pl-3 pr-3 ls-2 lh-32 d-inline-block text-success float-right"><span class="font-xsssss">$</span> 450</span>
                            <h4 class="fw-700 font-xss mt-3 lh-28 mt-0"><a href="{% url 'course:details' course.pk %}" class="text-dark text-grey-900">{{ course.title }} </a></h4>
                            <h6 class="font-xssss text-grey-500 fw-600 ml-0 mt-2">24 Lesson <span class="float-right mt-1 font-xssss text-grey-500">65%</span></h6>

                            <div class="progress mt-4 h5 w-100 mb-3">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="96" style="width: 96%;"></div>
                            </div>
                            <div class="star float-left text-left mb-0">
                                <img src="{% static 'images/star.png' %}" alt="star" class="w10 mr-1 float-left" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w10 mr-1 float-left" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w10 mr-1 float-left" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w10 mr-1 float-left" />
                                <img src="{% static 'images/star-disable.png' %}" alt="star" class="w10 float-left mr-2" />
                            </div>
                            <p class="review-link mt-0 font-xssss float-right mb-2 fw-500 text-grey-500 lh-3">2 customer review</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="how-to-work pb-lg--7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="page-title style1 col-xl-8 col-lg-8 col-md-10 text-center mb-5">
                <h2 class="text-grey-900 fw-700 display1-size display2-md-size pb-3 mb-0 d-block">Are you Looking for Live Class ?</h2>
                <p class="fw-300 font-xsss lh-28 text-grey-500">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol ad minim veniam, quis nostrud exercitation</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card border-0 mb-0 rounded-lg overflow-hidden live-stream bg-image-center bg-image-cover" style="background-image: url({% static 'images/video-bg.jpg' %});">
                    <div class="card-body d-flex justify-content-start p-2 position-absolute top-0 w-100 bg-gradiant-top">
                        <figure class="avatar mb-0 mt-0 overflow-hidden"><img src="{% static 'images/user-1.png' %}" alt="image" class="z-index-1 shadow-sm rounded-circle w40" /></figure>
                        <h5 class="text-white mt-1 fw-700 ml-2 z-index-1">Cabe Deo <span class="d-block font-xsssss mt-1 fw-400 text-grey-300 z-index-1">2 hour</span></h5>
                        <span class="live-tag position-absolute right-15 mt-2 bg-danger p-2 z-index-1 rounded-lg text-white font-xsssss text-uppersace fw-700 ls-3">LIVE</span>
                    </div>
                    <div class="card-body text-center p-2 position-absolute w-100 bottom-0 bg-gradiant-bottom">
                        <a href="#" class="btn-round-xl d-md-inline-block d-none bg-blur m-3 mr-0 z-index-1"><i class="feather-grid text-white font-md"></i></a>
                        <a href="#" class="btn-round-xl d-md-inline-block d-none bg-blur m-3 z-index-1"><i class="feather-mic-off text-white font-md"></i></a>
                        <a href="#" class="btn-round-xxl bg-danger z-index-1"><i class="feather-phone-off text-white font-md"></i></a>
                        <a href="#" class="btn-round-xl d-md-inline-block d-none bg-blur m-3 z-index-1"><i class="ti-video-camera text-white font-md"></i></a>
                        <a href="#" class="btn-round-xl d-md-inline-block d-none bg-blur m-3 ml-0 z-index-1"><i class="ti-settings text-white font-md"></i></a>
                        <span class="p-2 bg-blur z-index-1 text-white fw-700 font-xssss rounded-lg right-15 position-absolute mb-4 bottom-0">44:00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 mt-5">
                <div class="row">
                    <div class="col-lg-3 col-xs-6 col-sm-6">
                        <h2 class="display4-size display4-md-size fw-700 open-font mb-3">4.7</h2>
                        <div class="star d-block w-100 text-left">
                            <img src="{% static 'images/star.png' %}" alt="star" class="w15" />
                            <img src="{% static 'images/star.png' %}" alt="star" class="w15" />
                            <img src="{% static 'images/star.png' %}" alt="star" class="w15" />
                            <img src="{% static 'images/star.png' %}" alt="star" class="w15" />
                            <img src="{% static 'images/star-disable.png' %}" alt="star" class="w15" />
                        </div>
                        <h4 class="font-xssss text-grey-900 fw-700 mt-2">433 rating Based</h4>
                    </div>

                    <div class="col-lg-3 col-xs-6 col-sm-6">
                        <h2 class="display4-size display4-md-size fw-700 open-font mb-3">210<span class="font-xxl">%</span> <i class="feather-arrow-up-right text-success font-xl"></i></h2>
                        <h4 class="font-xssss text-grey-500 fw-600 mt-2">433 rating</h4>
                        <h4 class="font-xssss text-grey-900 fw-700 mt-2">Increase in revenue</h4>
                    </div>

                    <div class="col-lg-3 col-xs-6 col-sm-6">
                        <h2 class="display4-size display4-md-size fw-700 open-font mb-3">20<span class="font-xxl">%</span> <i class="feather-arrow-down-right text-danger font-xl"></i></h2>
                        <h4 class="font-xssss text-grey-500 fw-600 mt-2">433 rating</h4>
                        <h4 class="font-xssss text-grey-900 fw-700 mt-2">Increase in revenue</h4>
                    </div>

                    <div class="col-lg-3 col-xs-6 col-sm-6">
                        <h2 class="display4-size display4-md-size fw-700 open-font mb-3">43K<span class="font-xxl">+</span> <i class="feather-arrow-up-right text-success font-xl"></i></h2>
                        <h4 class="font-xssss text-grey-500 fw-600 mt-2">433 rating</h4>
                        <h4 class="font-xssss text-grey-900 fw-700 mt-2">Increase in revenue</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feedback-wrapper pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-left mb-5 pb-0">
                <h2 class="text-grey-800 fw-700 display1-size display2-md-size lh-2">Elomoas love what we do</h2>
            </div>

            <div class="col-lg-12">
                <div class="feedback-slider owl-carousel owl-theme overflow-visible dot-none right-nav pb-4">
                    <div class="owl-items text-center">
                        <div class="card w-100 p-5 text-left border-0 shadow-xss rounded-lg">
                            <div class="card-body pl-0 pt-0">
                                <img src="{% static 'images/user-6.png' %}" alt="user" class="w45 float-left mr-3" />
                                <h4 class="text-grey-900 fw-700 font-xsss mt-0 pt-1">Goria Coast</h4>
                                <h5 class="font-xssss fw-500 mb-1 text-grey-500">Digital Marketing Executive</h5>
                            </div>
                            <p class="font-xsss fw-400 text-grey-500 lh-28 mt-0 mb-0">Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold.</p>
                            <div class="star d-block w-100 text-right mt-4 mb-0">
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                            </div>
                        </div>
                    </div>

                    <div class="owl-items text-center">
                        <div class="card w-100 p-5 text-left border-0 shadow-xss rounded-lg">
                            <div class="card-body pl-0 pt-0">
                                <img src="{% static 'images/user-7.png' %}" alt="user" class="w45 float-left mr-3" />
                                <h4 class="text-grey-900 fw-700 font-xsss mt-0 pt-1">Thomas Smith</h4>
                                <h5 class="font-xssss fw-500 mb-1 text-grey-500">Digital Marketing Executive</h5>
                            </div>
                            <p class="font-xsss fw-400 text-grey-500 lh-28 mt-0 mb-0">Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold.</p>
                            <div class="star d-block w-100 text-right mt-4 mb-0">
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                            </div>
                        </div>
                    </div>

                    <div class="owl-items text-center">
                        <div class="card w-100 p-5 text-left border-0 shadow-xss rounded-lg">
                            <div class="card-body pl-0 pt-0">
                                <img src="{% static 'images/user-8.png' %}" alt="user" class="w45 float-left mr-3" />
                                <h4 class="text-grey-900 fw-700 font-xsss mt-0 pt-1">Hurin Seary</h4>
                                <h5 class="font-xssss fw-500 mb-1 text-grey-500">Digital Marketing Executive</h5>
                            </div>
                            <p class="font-xsss fw-400 text-grey-500 lh-28 mt-0 mb-0">Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold.</p>
                            <div class="star d-block w-100 text-right mt-4 mb-0">
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star-disable.png' %}" alt="star" class="w15 float-left mr-2" />
                            </div>
                        </div>
                    </div>

                    <div class="owl-items text-center">
                        <div class="card w-100 p-5 text-left border-0 shadow-xss rounded-lg">
                            <div class="card-body pl-0 pt-0">
                                <img src="{% static 'images/user-6.png' %}" alt="user" class="w45 float-left mr-3" />
                                <h4 class="text-grey-900 fw-700 font-xsss mt-0 pt-1">Goria Coast</h4>
                                <h5 class="font-xssss fw-500 mb-1 text-grey-500">Digital Marketing Executive</h5>
                            </div>
                            <p class="font-xsss fw-400 text-grey-500 lh-28 mt-0 mb-0">Human coronaviruses are common and are typically associated with mild illnesses, similar to the common cold.</p>
                            <div class="star d-block w-100 text-right mt-4 mb-0">
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                                <img src="{% static 'images/star.png' %}" alt="star" class="w15 mr-1 float-left mr-2" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="subscribe-wrapper pt-5 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card w-100 p-lg-5 p-4 rounded-xxl border-0" style="background: #faece3;">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 text-center">
                            <h2 class="fw-700 text-grey-900 display2-size display2-md-size lh-3 mb-3">Subscribe up to our newsletter</h2>
                        </div>
                        <div class="col-lg-8 text-center">
                            <p class="font-xsss lh-28 text-grey-500">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Neque facilis corporis perferendis, debitis error exercitationem reiciendis odio.</p>
                        </div>
                        <div class="col-lg-6 text-center mt-md-4 mb-3">
                            <div class="form-group icon-right-input style2-input mb-0">
                                <input type="text" placeholder="Enter Email Address" class="form-control style2 rounded-xl bg-white border-0 font-xsss fw-500 pl-3" /><i class="feather-mail text-primary font-lg m-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}